body{
background-color:#FFFACD;

}

h1, h2{
color: slateblue;
text-align: center;
}

figure{
    text-align: center;

}

.contaíner{
    width: 70%;
    margin: auto;
}

.img_topo{
    width: 100%;
}

.img_corpo{
    width: 70%;
}

p{
    font-size: 1.5em;
}