@font-face {
  font-family: EduTASBeginner-VariableFont_wght;
  src: url("../font/EduTASBeginner-VariableFont_wght.ttf");
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: #1C1C1C;
}

header {
  background-color: rgba(153, 135, 235, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fixo {
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
}

.itens_menu{
  text-align: center;
}

.itens_menu li{
  font-size: 1.3em;
  padding: 1%;
  margin: 0.5%;
  margin-bottom: 1%;
}

.itens_menu a:visited, .itens_menu a:link{
  color: #FFFF;
  text-decoration: none;
  font-weight: bolder;
}

.itens_menu a:hover{
  background-color: #363636;
  padding: 1%;
}

.banner {
  width: 100%;
  margin-right: 1%;
  padding-right: 1%;
}

h1{
color: #FFE4B5;
text-align: center;
font-size: 2.3em;
margin-bottom: 2%;
font-family: 'courgette', cursive;
margin-top: 2%;
}

h2{
  font-size: 2em;
  color: 	#FF6347;
  text-align: center;
  margin-bottom: 2%;
  font-family: 'Kaushan Script', cursive;
}

h3{
  font-size: 1.3em;
  color: darkseagreen;
  text-align: center;
  margin-bottom: 2%;
  font-family: 'Kaushan Script', cursive;
}

h4{
  font-size: 1.3em;
  color: yellow;
  text-align: center;
  margin-bottom: 2%;
  font-family: 'Kaushan Script', cursive;
}

h5{
  font-size: 1.3em;
  color: #6495ED;
  text-align: center;
  margin-bottom: 2%;
  font-family: 'Kaushan Script', cursive;
}

h6{font-size: 1.3em;
  color: 	#FF6347;
  text-align: center;
  margin-bottom: 2%;
  font-family: 'Kaushan Script', cursive;
}

figure{
    text-align: center;

}

.container{
    width: 70%;
    margin: auto;
}

.img_topo{
    width: 85%;
}

.img_corpo{
    width: 70%;
    margin-bottom: 2%;
}

p{
    color: #FFFAFA;
    font-size: 1.5em;
    line-height: 1.3;
    text-align: justify;
    text-indent: 40px;
    margin-bottom: 2%;
   font-family:  'EduTASBeginner-VariableFont_wghtv', cursive;
}
  

/* unvisited link */
 a:link {
    color: slateblue; 
  }
  
  /* visited link */
  a:visited {
    color:#98FB98; 
 
  }
  
  /* mouse over link */
  a:hover {
    color:	#FFFACD; 

  }
  
  /* selected link */
  a:active {
    color:darkseagreen; 
  }
  
footer{
  background-color: rgba(100,149,237);
  padding: 1.3%;
  margin-top: 2%;
  text-align: center;
}

footer p {
  text-align: center;
  font-size: 1em;
}

.footer-top {
  margin-top: 7%;
}

.botao{
  background-color: rgba(9, 7, 6, 0.3);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5%;
  cursor: pointer;
  margin: 1%;
  width: 100px;
}

.botao:hover{
  background-color:#FFDEAD;
  color: #000;
}

.botao a:link, .botao a:visited{
  color: slateblue;
  text-decoration: none;
  font-weight: bolder;
}

.img_direita{
  float: right;
  padding-left: 1.5%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  width: 25%;
}

.img_esquerda{
  float: left;
  padding-right: 1.5%;
  padding-bottom: 1.5%;
  width: 20%;
}

table{
  width: 100%;
  border-collapse: collapse ;
  text-align: center;
}

td,th{
  border: 2px solid #FFFAFA ;
  padding: 1%;
  color: #fff;
}

th{
  font-size: 1.5em;
  font-weight: bolder;
}

td:first{
  width: 40%;
}

td:first-child + td{
width: 60%;
}

audio{
  width: 80%;
}

form {
  box-sizing: border-box;
}

.form{
  box-sizing: border-box;
  background-color: grey;
  padding: 5%;
  border-radius: 25px;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 2%;
  margin-bottom: 2%
}

input[type=text], input[type=tel], input[type=email], select, textarea {
  width: 90%;
  padding: 12px;
  border-radius: 25px;
  border: 1px solid white;
  resize: vertical;
}

label{
  padding: 12px 12px 12px 0;
  color: #000000;
  display: inline-block;
}

.col-25{
  width: 25%;
  float: left;
  margin-top: 6px;
}

.col-75{
  width: 75%;
  float: left;
  margin-top: 6px;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}

input[type=submit]{
  background-color: #fff;
  color: #000000;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  float: right;
  margin-top: 2%;
  font-weight: bolder;
}

input[type=submit]:hover {
  background-color: rgba(153, 135, 235, 0.9);
  color: #fff;
  
}

@media screen and (max-width: 600px){


  .col-25, col-75, input[type=submit]{
    width: 100%;
    margin-top: 0;
  }

  .form{
    border-radius: 50px;
  }

  .logo {
    text-align: center;
    margin: 1%;
  }  

  .img_logo {
    width: 20%;
  }

  .banner {
    margin-top: 45%;
  }

  .img_topo {
    width: 100%;
  }

  .descer {
    margin-top: 50%;
  }
  
}

@media screen and (min-width: 601px) {
  
  header {
    background-color: rgba(153, 135, 235, 0.9);
    flex-direction: row;
    padding: 2%;
  }    

  .itens_menu {
      position: absolute;
      right: 5%;
      width: 80%;
  }

  .itens_menu ul li {
      display: inline;
      margin: 1%;
  }

  .itens_menu a:visited, .itens_menu a:link{
      color: #FFFF;
      text-decoration: none;
      font-weight: bolder;
      text-align: center;
      padding: 1%;
  }

  .itens_menu a:hover{
      background-color: #363636;
  }    

  .img_logo {
      width: 40%;
  }

  .logo {
      width: 20%;
      text-align: left;
      margin-left: 4%;
  }

  .banner {
    margin-top: 6%;
  }

  .img_topo {
    width: 100%;
  }

  .descer {
    margin-top: 8%;
  }

}

@media screen and (max-width: 430px) {

  .banner {
    margin-top: 55%;
  }

  .descer {
    margin-top: 60%;
  }

  .form{
    box-sizing: border-box;
    background-color: grey;
    padding: 5%;
    border-radius: 15px;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 2%;
    margin-bottom: 2%
  }

}